<!DOCTYPE html>
<html>
<head>
  <title>Toqui</title>
  <%= stylesheet_link_tag    "toqui/application", media: "all" %>
  <%= javascript_include_tag "toqui/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
